<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-light-grey">

	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="sourceChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="risktChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="concatChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<!--<div class="col-xs-12 col-md-6 col-lg-4">-->
			<!--<div class="panel panel-white no-radius">-->
				<!--<div class="panel-body">-->
					<!--<div id="condefChart" class="col-xs-12"></div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h4>Control Being Tested</h4>
		</div>
		<hr class="hrule4" />
	</div>

	<div class="row">

		<div class="col-xs-12 col-md-4 col-lg-3col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="tpCatChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="tpRTChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="tpPerChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="tpSrcChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 col-lg-3col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div id="tpStChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>

	</div>

</div>

